<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>United States Real Estate Visualizations</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.1/papaparse.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
      .center-text {
          text-align: center;
      }
    </style>

</head>
<body>
    <div class="container">
        <div class="row">
          <div class="center-text">
            <h1>United States Real Estate Visualizations</h1>
            <p>Use the interactive charts below to explore the dataset. The dropdown menu can be used to filter data based on state.</p>
          </div>
        </div>
        <div class="row">
    <div class="col-md-2">

<!-- Dropdown to be populated dynamically -->
<div class="center-text">
<select id="dropdown"></select>
</div>
<div id="map" style="height: 400px;"></div>
<div id="plot"></div>
<div id="new"></div>

<script src="{{ url_for('static', filename='js/script.js') }}""></script>

</body>
</html>